
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-xs-6 col-md-6">

        <form id="saveOrdemForm" method="post" action="@Url.Action("Create", "Order")">
            <h3 style="margin-top:5%; margin-bottom:5%;">Create a new Order</h3>
            <p>
                <label for="ClientName">Name:</label>
                <input type="text" name="clientName" />
            </p>
            <p>
                <label for="ClientEmail">Email:</label>
                <input type="email" name="email" />
            </p>
            <p>
                <label for="ClientAddress">Address:</label>
                <input type="text" name="address" />
            </p>
            <p>
                <label for="book">Book:</label>
                <input type="text" name="book" />
            </p>
            <p>
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" />
            </p>
            <input type="submit" id="submitOrder" value="Order" />
        </form>
    </div>
</div>
