
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-6 col-md-6">

        <form id="orderDetailsForm" method="get" action="@Url.Action("Details", "Order")">
            <h3 style="margin-top:5%; margin-bottom:5%;">Check on a previous Order</h3>
            <p>
                <label for="Order ID">Order ID:</label>
                <input type="text" name="orderID" />
            </p>
            <input type="submit" id="detailsOrder" value="Check Order" />
        </form>
    </div>
</div>