<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="Shared.IRemObjectWH, Shared" url="http://localhost:9001/WarehouseServer/RemObjectWH.rem" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>